/* FOOTER */

.FooterPrincipal {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 40px;
    border-radius: var(--radio-grande);
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(15px);

}


/* Logo */

.FooterLogo img {

    width: 180px;

}


/* Títulos */

.FooterPrincipal h3 {

    margin-bottom: 12px;
    font-size: 18px;

}


/* Texto */

.FooterPrincipal p {

    margin-bottom: 8px;
    color: var(--color-gris);

}


/* Enlaces */

.FooterEnlaces a {

    color: var(--color-gris);
    text-decoration: none;
    line-height: 2;

}

.FooterEnlaces a:hover {

    color: var(--color-acento);

}