/* HEADER */

.BarraDeNavegacion {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(1400px, calc(100% - 48px));
    margin: 24px auto;
    padding: 12px 18px;
    gap: 20px;
    border-radius: 38px;

}


/* LOGO */

.LogoFlowi {
    flex: 0 0 auto;
}

.LogoFlowi img {
    width: 145px;
    height: auto;
}


/* MENU */

.MenuCentral {

    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0 auto;

}


/*  ACCIONES */

.Acciones {

    display: flex;
    align-items: center;
    gap: 14px;
    flex: 0 0 auto;

}

/* ACCIONES */



/* Intercambiar el orden de los botones */
.Acciones:has(.boton1) {
    order: 2; /* "Prueba Gratis" pasa al final */
}

.Acciones:has(.boton2) {
    order: 1; /* "Entra" pasa al principio */
}
.Acciones {
    display: flex;
    align-items: center;
    gap: 14px;
    flex: 0 0 auto;
    flex-direction: row-reverse; /* Invierte el orden de los botones internamente */
}


/*  HERO CONTENEDOR */

.Hero {

    width: min(1400px, calc(100% - 48px));
    margin: 0 auto;
    gap: 34px;

}


/* FUNCIONES */

.Funciones {

    width: min(1200px, calc(100% - 48px));
    margin: 80px auto;

}


/* FOOTER */

.FooterPrincipal {

    width: min(1200px, calc(100% - 48px));
    margin: 80px auto 30px;

}