/* =========================
   TABLET (Pantallas medianas)
========================= */
@media (max-width: 900px) {
    
    /* --- HEADER Y HERO --- */
    .EncabezadoSoft { padding: 20px 5%; }
    .TextoCalm, .TextoStop { letter-spacing: 8px; }
    .TituloPrincipal { letter-spacing: 15px; margin-left: 15px; }

    /* --- FOOTER TABLET --- */
    .FooterContenido {
        grid-template-columns: 1fr 1fr; /* Pasa de 4 a 2 columnas */
    }
    
    .FooterColumna.Marca {
        grid-column: span 2; /* La marca ocupa el ancho de las 2 columnas arriba */
        align-items: center;
        text-align: center;
    }
    
    .Tagline { max-width: 100%; }
    
    .FooterBase {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}


/* =========================
   CELULAR (Pantallas pequeñas)
========================= */
@media (max-width: 600px) {
    
    /* --- HEADER MÓVIL --- */
    .EncabezadoSoft { padding: 15px 5%; }
    .MenuHamburguesa { font-size: 12px; gap: 8px; }
    .icono-menu { width: 20px; }
    .enlaceEntrar { font-size: 12px; }
    .LogoSoftStop img { width: 32px; height: 32px; }

    /* --- HERO MÓVIL --- */
    .FondoTexto {
        flex-direction: column; 
        gap: 200px; 
        top: 45%; 
    }
    .TextoCalm, .TextoStop {
        letter-spacing: 10px;
        text-align: center;
        font-size: clamp(60px, 20vw, 100px); 
    }
    .TituloPrincipal {
        letter-spacing: 8px;
        margin-left: 8px;
        font-size: 32px; 
        margin-bottom: -10px; 
    }
    .ContenedorMedusa { width: 220px; }
    .ContenedorSubtitulo { bottom: 25px; }
    .SubtituloHero { font-size: 14px; line-height: 1.6; padding: 0 15px; }

    /* --- FOOTER MÓVIL --- */
    .FooterContenido {
        grid-template-columns: 1fr; /* Todo en 1 sola columna */
        gap: 40px;
    }
    
    .FooterColumna {
        align-items: center;
        text-align: center;
    }

    .FeedbackLink { justify-content: center; }
}