:root {
    /*  COLORES LANDING PAGE */
    --color-fondo: #F8F4F1;        /* Crema Suave */
    --color-superficie: #E8E5EC;   /* Lavanda Pálido */
    
    --color-texto: #222222;        /* Negro Principal */
    --color-gris: #918B8D;         /* Gris Sutil */
    
    --color-acento: #FF33CC;       /* Rosa Vibrante */
    --color-orquidea: #DA70D6;     /* Orquídea Suave / Lavanda */

    /* COLORES DEL LOGO (Para degradados y detalles) */
    --logo-fondo: #F6F4FA;         /* Lavanda Muy Pálido */
    --logo-morado: #AE98F0;        /* Morado Suave / Bígaro */
    --logo-rosa-pastel: #FF9AB7;   /* Rosa Pastel */
    --logo-durazno: #FFC9A7;       /* Durazno Suave */
    --logo-rosa-calido: #FE809F;   /* Rosa Cálido */
    --colorfooter:#918B8D;

    /*  TIPOGRAFÍA */
    --fuente-principal: "Hanken Grotesk", sans-serif;
    --fuente-secundaria: "Nunito", sans-serif;

    /*   BORDES  */
    --radio-grande: 28px;
    --radio-mediano: 20px;
    --radio-pill: 9999px;

    /* SOMBRAS Y EFECTO*/
    /* Sombras adaptadas a los nuevos tonos morados/rosas */
    --sombra-suave: 0 10px 30px rgba(174, 152, 240, 0.15); 
    --sombra-boton: 0 10px 25px rgba(255, 51, 204, 0.25);
    
    /* Efecto Glass adaptado al nuevo fondo crema */
    --glass: rgba(248, 244, 241, 0.65);
}
   